.board {
    display: block;
    width: 300px;
    margin-left: 20px;
}
.controls{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.controlsButton{
    background-color: #fff;
    border-radius: 4px;
    min-width: 50px;
}

.statistics{
    list-style: none;
    margin: 0;
    padding: 0;
}